setuptools==70.0.0
git+https://github.com/KrisCris/palworld-save-tools.git@eb012db7d21bf00639ecb8bfa79b2d128133329e#egg=palworld-save-tools
pyooz==0.0.8
wheel==0.42.0
Flask==3.0.2
pyinstaller==6.4.0
waitress==3.0.1
Flask-JWT-Extended==4.6.0
requests==2.32.2
PySide6==6.6.3