setuptools==80.9.0
git+https://github.com/KrisCris/palworld-save-tools.git@480f1f631295e32bd9c9fa5be689eb335bf912a7#egg=palworld-save-tools
pyooz==0.0.8
wheel==0.46.1
Flask==3.1.2
pyinstaller==6.17.0
waitress==3.0.2
Flask-JWT-Extended==4.7.1
pywebview==4.4.1
requests==2.32.5
aiohttp==3.13.2