@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  margin: 0 auto;
  padding: 2vh;
  font-weight: normal;
  display: flex;
  align-items:flex-start
}