@import './base.css';
@import './editor-ui.css';

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

#app {
  margin: 0 auto;
  padding: 2vh;
  padding-right: 0;
  font-weight: normal;
  display: flex;
  align-items:flex-start
} */

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  text-align: left;
}


/* Keep scrollbars out of the layout until their scroll region is hovered. */

* {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

*:hover {
  scrollbar-color: rgb(160 160 165 / 72%) transparent;
}

/* total width */
::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
  width: 8px;
  height: 8px;
  z-index: 999999;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius:8px;
  border:2px solid transparent;
  background-clip: padding-box;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgb(160 160 165 / 72%);
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display:none;
}


/* scrollbar when scrollbar is hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #c4c4ca;
  border: 1px solid transparent;
}
